@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-link {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

/* Set the background image for the top half of the website */
.bg-top {
  height: 50vh;
  background-image: url("/public/images/bg-image.jpeg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  font-family: monospace;
}

#toy-header {
  display: flex;
  justify-content: center;
  background: #097969;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;
  font-family: monospace;
}

#toy-header img {
  height: 6rem;
  width: auto;
}

#toy-collection {
  margin: 2rem;
  /* display: flex;
  flex-wrap: wrap; */
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #097969;
}

.toy-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: #097969;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

.buttonContainer {
  text-align: center;
  padding: 1rem;
}

button:hover {
  background-color: whitesmoke;
  border: #097969 solid 1px;
  color: #097969;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: #097969;
  opacity: 0.8;
}

.add-toy-form {
  width: 80%;
}

.submit {
  position: relative;
  background-color: #097969;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #097969 solid 1px;
  color: #097969;
}

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.button-container {
  margin-bottom: -20px;
}
